<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body class="home">
        <%- include('./partials/header') %>
            <section>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <% for( let index=1; index < banner.length; index++ ) { %>
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="<%= index %>" aria-label="Slide 2"></button>
                            <% } %>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active"
                            style="background-image: url('/images/banner/<%=banner[0]%>');"></div>
                        <% for( let index=1; index < banner.length; index++ ) { %>
                            <div class="carousel-item "
                                style="background-image: url('/images/banner/<%=banner[index]%>');"></div>
                            <% } %>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
            <main>

                <section class="productos">
                    <h3 class="w-100">Celulares nuevos</h3>

                    <% nuevos.forEach(producto=> { %>
                        <article>
                            <img class="photo" src="/images/<%=producto.images[0] ? producto.images[0].file : 'default-image.png'%>" alt="">
                            <img class="img-discount" src="/images/img-descuento.png" alt="">
                            <h4>
                                <%= producto.name %>
                            </h4>
                            <p>
                                <%= producto.description %>
                            </p>
                            <div class="d-flex justify-content-around flex-wrap">
                                <a class="btn btn-sm btn-primary" href="/products/detail/<%= producto.id %>">ver
                                    más</a>
                                
                            </div>

                        </article>

                        <% }) %>

                    <h3 class="w-100">Celulares usados</h3>
                        <% usados.forEach(producto=> { %>
                            <article>
                                <img src="/images/<%=producto.images[0] ? producto.images[0].file : 'default-image.png'%>" alt="">
                                <h4>
                                    <%= producto.name %>
                                </h4>
                                <p>
                                    <%= producto.description %>
                                </p>
                                <div class="d-flex justify-content-around flex-wrap">
                                    <a class="btn btn-sm btn-primary"
                                        href="/products/detail/<%= producto.id %>">ver
                                        más</a>
                                </div>

                            </article>

                        <% }) %>

                </section>
           
                <aside>
                    <h3>Tutoriales</h3>
                    <section class="tuto">
                        <article>
                            <img src="/images/aside-01.jpg" alt="">
                            <p>Titulo del tutorial de reparación</p>
                        </article>
                        <article>
                            <img src="/images/aside-02.jpg" alt="">
                            <p>Titulo del tutorial de reparación</p>
                        </article>
                        <article>
                            <img src="/images/aside-03.jpg" alt="">
                            <p>Titulo del tutorial de reparación</p>
                        </article>
                        <article>
                            <img src="/images/aside-04.jpg" alt="">
                            <p>Titulo del tutorial de reparación</p>
                        </article>
                    </section>
                    <h3 class="title-ads">Publicidad</h3>
                    <section class="ads">
                        <img src="/images/ad-01.jpg" alt="">
                        <img src="/images/ad-02.jpg" alt="">
                    </section>
                </aside>
                <section class="w-100">
                    <h3 class="w-100">Celulares reciclados</h3>

                    <div class="glider-contain">
                        <div class="glider">
                            <% refaccionados.forEach(product => { %>
                                <article class="card mx-2 p-2">
                                    <a href="/products/detail/<%= product.id %> ">

                                    <img src="/images/<%=product.images[0] ? product.images[0].file : 'default-image.png'%>" alt="">
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                </a>

                                    <p>
                                        <%= product.description %>
                                    </p>
                                    <div class="d-flex justify-content-around flex-wrap">
                                        <a class="btn btn-sm btn-primary"
                                            href="#">Comprar</a>
                                    </div>
                                </article>
                            <% }) %>                                 
                        </div>
                      
                        <button aria-label="Previous" class="glider-prev">«</button>
                        <button aria-label="Next" class="glider-next">»</button>
                        <div role="tablist" class="dots"></div>
                      </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
            <%- include('./partials/scripts') %>
            <script src="/js/index.js"></script>

    </body>

</html>